/* -----------------------------------------------------------------
    Global style for some elements
--------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.to-cart-a {
  color: #fff;
}
/* Extra small devices  */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    max-width: 400px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
