/* -----------------------------------------------------------------
    Global style for some elements
--------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  transition: 0.5s ease-in-out;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px; */
}
.to-cart-a {
  color: #fff;
}
/* Extra small devices  */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    max-width: 400px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* scrollbar Style */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b894;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00b894;
}
/* -----------------------------------------------------------------
    Style Nav Section
--------------------------------------------------------------------*/
nav {
  height: 80px;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 80px;
}
nav .nav a img {
  max-width: 100%;
  object-fit: cover;
  height: 70px;
}
nav .nav .mode-icons {
  display: flex;
  gap: 5px;
}
nav .nav .mode-icons a {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
nav .nav .mode-icons a:first-child > i {
  color: orange;
  transition: 0.5s ease-in-out;
}
nav .nav .mode-icons a:last-child > i {
  color: #c5e1e6;
  transition: 0.5s ease-in-out;
}
nav .nav .mode-icons a:first-child:hover {
  background-color: orange;
}
nav .nav .mode-icons a:first-child:hover > i {
  color: white;
}
nav .nav .mode-icons a:last-child:hover {
  background-color: #777;
}
/* -----------------------------------------------------------------
    Style Header Section
--------------------------------------------------------------------*/
header {
  position: relative;
  height: calc(100vh - 70px);
}
header img {
  max-width: 100%;
  width: 100vw;
  height: calc(100vh - 70px);
  filter: brightness(0.7);
}
header .form-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .form-search input[type="search"] {
  border: none;
  outline: none;
  width: 500px;
  padding: 14px;
  border-radius: 25px;
  position: relative;
}
header .form-search::after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 10px;
  font-weight: 900;
  width: 20px;
  height: 20px;
  color: #ccc;
}

/* -----------------------------------------------------------------
    Style Main Section
--------------------------------------------------------------------*/
#container-of-surah {
  flex: 100%;
  height: 50px;
  background-color: #999aa2;
  text-align: center;
  line-height: 40px;
  background-color: #fbfbfb;
  border: 1px solid #ebebed;
  padding: 16px;
  display: flex;
  align-items: center;
  color: black;
}

#surah-card-number {
  margin-right: 16px;
  background-color: #e1e1e4;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333647;
}

#surah-details {
  flex: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#container-of-surah:hover {
  box-shadow: 0 0 7px 0 #333647;
}

#container-of-surah span {
  font-weight: bold;
}


#content{
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
